/**
 * @file
 * Atrium Accountant CSS stylesheet.
 */

/* Feature large tab icon */
#features-menu li a.icon-accounting span.icon {
  background: url(icon.png) no-repeat;
}

/* Feature small icon for content creation */
span.spaces-feature.feature-atrium_accountant {
  background: url(icon-small.png) no-repeat;
}

/* Views tables */
.view-accounts .views-field,
.view-accounts .views-field a,
.view-transactions .views-field,
.view-transactions .views-field a {
  font-size: 11px !important;
}

/* Views Calc */
td.view-footer,
td.view-footer-number {
  border-bottom: 1px solid #ccc !important;
}
